{% extends 'base.html' %}
{% load i18n towel_form_tags bootstrap3 %}
{% block title %} - {% trans "Set password" %}{% endblock %}
{% block content %}
<div class="col-md-offset-1 col-md-4">
  <form action="." method="post" class="form form-horizontal">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Finish Registration
      </button>
    {% endbuttons %}
  </form>
</div>
<script type="text/javascript">document.getElementById("{{ form.new_password1.auto_id }}").focus();</script>
{% endblock %}